/**/
@import url(https://fonts.googleapis.com/css?family=Federant);
*{
	padding: 0;
	margin: 0;
	line-height: normal;
	box-sizing: border-box;
}
a{
	color: orange;
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: Federant;
}
/**/
.container{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.07);
}
.row{
	width: 100%;
	display: flex;
}
.col{
	width: auto;
}
.col-3{
	width: 25%;
}
.col-6{
	width: 50%;
}
.col-9{
	width: 75%;
}
.col-12{
	width: 100%;
}
/**/
header{
	display: none !important;
}
/**/
main{
	flex-wrap: wrap;
	padding: 2.5rem;
	align-items: flex-start;
}
article{
	margin-bottom: 1rem !important;
}
main article#one{
	margin: 0 auto;
	position: relative;
	height: 17rem;
	background-image: url(background1.jpg);
	background-size: 99% 98%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	outline: 2px solid rgba(0,0,0,0.125);
	/*overflow: hidden;*/
}
/*article#three:hover .title, article#three:hover .info{
	visibility: hidden;
}*/
article#three:hover .cover{

}
article#three:hover{
	/*border-left: 1rem solid white;*/
}
article#one .title{
	border: 1px solid rgba(0,0,0,0.125);
	background-color: white;
	width: 96%;
	margin: auto;
	align-self: center;
	padding: .1rem 0rem;
	transform: translateY(-50%);
	border-radius: 50px;
}
article#one .title h4{
	text-align: center;
	font-size: 1.5rem;
}
article#one .info{
	position: absolute;
	width: 100%;
	/*min-height: 1rem;*/
	/*width: auto;*/
	display: flex;
	/*min-height: 2rem;*/
	transform: translateY(50%);
	bottom: 0;
	/*padding: .2rem;*/
	/*background-color: rgba(255,255,255,1);*/
	/*padding: .1rem;*/
	/*background-color: rgba(255,255,255,1);*/
}
article#one .info ul{
	border: 1px solid rgba(0,0,0,0.125);
	display: inline-flex;
	width: auto;
	background-color: white;
	border-radius: 50px;
	margin: auto;
	/*justify-content: space-around;*/
}
/*article#one #u:hover{
	transform: translateY(0) !important;
	padding-top: .5rem;
	transition: all 1s; 
}*/
article#one .info ul li{
	width: auto;
	padding: .3rem .7rem;

	text-align: center;
	font-size: 1.1rem;
}
/*Two*/
main article#two{
	margin: 0 auto;
	position: relative;
	/*height: 17rem*/
	min-height: 15rem;
	background-color: white;
	/*outline: 2px solid rgba(0,0,0,0.125);*/
	/*overflow: hidden;*/
}
article#two .title{
	border: 1px solid rgba(0,0,0,0.125);
	/*background-color: white;*/
	/*width: 96%;*/
	/*margin: auto;*/
	padding: .3rem .5rem;
	/*transform: translateY(-50%);*/
}
article#two .title h4{
	font-size: 1.5rem;
}
article#two .cover{
	outline: 2px solid rgba(0,0,0,0.125);
	width: 105%;
	height: 15rem;
	margin-left: -2.5%;
	background-image: url(background1.jpg);
	background-size: 99% 98%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}
article#two .info{
	padding: .4rem .5rem;
}
article#two .info ul{
	border: 1px solid rgba(0,0,0,0.125);
	display: flex;
	/*justify-content: space-around;*/
}
article#two .info ul li{
	padding: .2rem;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
}
/*THREE*/
main article#three{
	margin: 0 auto;
	width: 27%;
	box-sizing: content-box;
	position: relative;
	/*height: 17rem*/
	min-height: 17rem;
	background-color: white;
	outline: 1px solid rgba(0,0,0,0.125);
	/*overflow: hidden;*/
	transition: all .5s ease;
}
article#three .title{
	/*border: 1px solid rgba(0,0,0,0.125);*/
	/*background-color: white;*/
	/*width: 96%;*/
	/*margin: auto;*/
	padding: .3rem .5rem;
	/*transform: translateY(-50%);*/
}
article#three .title h4{
	font-size: 1.5rem;
}
article#three .cover{
	outline: 1px solid rgba(0,0,0,0.125);
	width: 98.5%;
	position: relative;
	/*margin: auto;*/
	margin: auto;
	height: 17rem;
	background-image: url(background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .5s ease;
	z-index: 2;
}

article#three .info{
	display: flex;
	width: 100%;
	padding: .3rem;
	flex-direction: column;
	position: relative;
	transition: all .5s linear;
}
article#three .info ul{
	/*border: 1px solid rgba(0,0,0,0.125);*/
	display: flex;
	align-self: center;
	/*justify-content: space-around;*/
}
article#three .info ul li{
	padding: .2rem .5rem;
	width: auto;
	text-align: center;
	font-size: 1rem;
}
article#four{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	box-sizing: content-box !important;
	position: relative;
	min-height: 17rem;
	background-image: url(background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: .5rem;
	padding: .3rem .5rem;
	border: 1px solid orange;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	/*outline: 1px solid rgba(0,0,0,0.125);*/
	/*overflow: hidden;*/
	/*transition: all .5s ease;*/
}
article#four .title{

}
article#four .title h4{
	font-size: 1.5rem;
	color: white;
	/*text-shadow: 0px 0px 3px rgba(0,0,0,1);*/
	text-shadow: 1px 0px 1px rgba(0,0,0,.7), 0px 1px 1px rgba(0,0,0,.7),
	-1px 0px 1px rgba(0,0,0,.7), 0px -1px 1px rgba(0,0,0,.7);

}
article#four .info{
	width: 100%;
}
article#four .info ul{
	/*background-color: rgba(0,0,0,0.3);*/
	display: flex;
	color: white;
	justify-content: space-around;
	border-radius: 50px; 
	/*backdrop-filter: blur(0px);*/
}
article#four .info ul li{
	position: relative;
	padding: .2rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.3rem;
	z-index: 2;
}
article#four .info ul li p{
	z-index: 2;
	position: relative;	
}
hr{
	position: absolute;
	z-index: 1;
	transform: translateY(-12px);
	/*height: 2px;*/
	margin: auto;
	left: 0;
	right: 0;
	background-color: black;
	width: 90%;
	border: none;
	/*opacity: .8;*/
	box-shadow: 0px 0px 2px 5px black;
}