@import url(https://fonts.googleapis.com/css?family=Federant);
*{
	padding: 0;
	margin: 0;
	line-height: normal;
	box-sizing: border-box;
}
body{
	width: 100vw;
	background-color: rgba(0,0,0,0.125);
}
.container{
	width: 100%;
	font-family: Federant;
}
.row{
	display: flex;
	width: 100%;

}
li{
	list-style: none;
}
main{
	height: 100vh;
	padding: 2.5rem;
	flex-wrap: wrap;
	/*align-items: flex-start;*/
}
article{
	position: relative;
	background-color: white;
	/*border: 1px solid red;*/
	margin: 2rem;
}
main .row{
	/*height: 17rem;*/
	justify-content: center;

}
.col-3{
	width: 25%;
}
article#one{
	height: 17rem;
	background-image: url(background1.jpg);
	background-size: 99% 98%;
	background-repeat: no-repeat;
	background-position: center;
	outline: 2px solid rgba(0,0,0,0.125);
}
article#one .title{
	border: 1px solid rgba(0,0,0,0.125);
	background-color: white;
	width: 96%;
	margin: auto;
	align-self: center;
	padding: .1rem 0rem;
	transform: translateY(-50%);
	border-radius: 50px;
}
article#one .title h4{
	text-align: center;
	font-size: 1.5rem;
}
article#one .info{
	position: absolute;
	width: 100%;
	display: flex;
	transform: translateY(50%);
	bottom: 0;
}
article#one .info ul{
	border: 1px solid rgba(0,0,0,0.125);
	display: inline-flex;
	width: auto;
	background-color: white;
	border-radius: 50px;
	margin: auto;
}
article#one .info ul li{
	width: auto;
	padding: .3rem .7rem;
	text-align: center;
	font-size: 1.1rem;
}
/**/
main article#two{
background-color: white;
}
article#two .title{
	border: 1px solid rgba(0,0,0,0.125);
	padding: .3rem .5rem .2rem;
}
article#two .title h4{
	font-size: 1.5rem;
}
article#two .cover{
	outline: 2px solid rgba(0,0,0,0.125);
	width: 105%;
	height: 17rem;
	margin-left: -2.5%;
	background-image: url(background1.jpg);
	background-size: 99% 98%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}
article#two .info{
}
article#two .info ul{
	display: flex;
	width: 90%;
	margin: auto;
}
article#two .info ul li{
	padding: .2rem 0;
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
}
/*THREE*/
main article#three{
	width: 27%;
	box-sizing: content-box;
	position: relative;
	background-color: white;
	outline: 1px solid rgba(0,0,0,0.125);
	transition: all .5s ease;
}
article#three .title{
	padding: .3rem .5rem;
}
article#three .title h4{
	font-size: 1.5rem;
}
article#three .cover{
	outline: 1px solid rgba(0,0,0,0.125);
	width: 98.5%;
	position: relative;
	margin: auto;
	height: 17rem;
	background-image: url(background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .5s ease;
	z-index: 2;
}

article#three .info{
	display: flex;
	width: 100%;
	padding: .3rem;
	flex-direction: column;
	position: relative;
	transition: all .5s linear;
}
article#three .info ul{
	display: flex;
	align-self: center;
}
article#three .info ul li{
	padding: .2rem .5rem;
	width: auto;
	text-align: center;
	font-size: 1rem;
}
/*FOUR*/
article#four{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: content-box !important;
	position: relative;
	min-height: 17rem;
	background-image: url(background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: .5rem;
	padding: .3rem .5rem;
	border: 1px solid orange;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);

}
article#four .title{

}
article#four .title h4{
	font-size: 1.5rem;
	color: white;
	text-shadow: 1px 0px 1px rgba(0,0,0,.7), 0px 1px 1px rgba(0,0,0,.7),
	-1px 0px 1px rgba(0,0,0,.7), 0px -1px 1px rgba(0,0,0,.7);

}
article#four .info{
}
article#four .info ul{
	display: flex;
	color: white;
	justify-content: space-around;
}
article#four .info ul li{
	position: relative;
	padding: .2rem;
	font-weight: bold;
	/*text-transform: uppercase;*/
	text-shadow: 1px 0px 1px rgba(0,0,0,.7), 0px 1px 1px rgba(0,0,0,.7),
	-1px 0px 1px rgba(0,0,0,.7), 0px -1px 1px rgba(0,0,0,.7);
}