*{
	padding: 0rem;
	margin: 0rem;
	line-height: 1;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: black;
}
body{
	background-color: rgba(0,0,0,0.07);
	box-shadow: 5px -5px 15px rgba(0,0,0,1);
	/*background-image: url(../background1.jpg);*/
}
ul{
	display: inline-flex;
	width: 90%;
	margin: auto;
}
li{
	display: flex;
	width: 100%;
	padding: .3rem;
	list-style: none;
	text-align: center;
}
.container{
	width: 100vw;
	height: 100vh;
	margin: auto;
	/*background-color: #212529;*/
}
.row{
	width: 100%;
	display: flex;
}
.col{
	width: auto;
}
.col-12{
	width: 100%;
}
.col-6{
	width: 50%;
}
.col-3{
	width: 25%;
}
header{
	/*padding: 1.5rem 5rem .5rem;*/
	padding: 1.5rem 5rem;
	border-bottom: .5px solid grey;
	/*background-color: grey;*/
/*	background-color: rgba(0,0,0,0.07);
	box-shadow: 5px -5px 15px rgba(0,0,0,1);*/
}
header h1{
	/*font-family: 'Varela Round', sans-serif;*/
	font-family: 'Signika', sans-serif;
	font-size: 3rem;
	font-variant: small-caps;
	letter-spacing: .5rem;
}
nav{
	height: 100%;
}
nav ul{
	display: flex;
	font-family: 'Signika', sans-serif;
	justify-content: space-around;
}
nav ul li{
	font-variant: small-caps;
	font-size: 2rem;
	/*width: 100%;*/
	/*text-align: center;*/
	align-self: center;
	list-style: none;
}
main{	padding: 2rem 7rem;
}
h4{
	font-size: 1.5rem;
	font-family: 'Signika', sans-serif;
	color: black;
}
.title{
	padding: .7rem .7rem .5rem;
	/*border-bottom: 2px solid rgba(0,0,0,.3);*/
}
.cover{
	border-bottom: 1px solid rgba(0,0,0,.3);
	border: 1px solid rgba(0, 0, 0, 0.125);
}
article{
	border: 1px solid rgba(0, 0, 0, 0.125);
	margin: auto;
	min-height: 15rem;
	padding-bottom: 1rem;
	background: white;
/*
	background: url(../background1.jpg);
	background-size: 98%;
	background-position: center;
	background-repeat: no-repeat;
	padding: .5rem .7rem;
	*/
	/*box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);*/
	/*border: .3px solid rgba(0,0,0,.1);*/
}
.info{
	flex-direction: column;
}