*{
	padding: 0;
	margin: 0;
	line-height: normal;
	box-sizing: border-box;
}
a{
	color: orange;
	text-decoration: none;
	padding: 1rem .7rem;
}
a:hover{
	background-color: grey;
}
li{
	list-style: none;
}
/**/
.container{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.07);
}
.row{
	width: 100%;
	display: flex;
}
.col{
	width: auto;
}
.col-3{
	width: 25%;
}
.col-6{
	width: 50%;
}
.col-9{
	width: 75%;
}
.col-12{
	width: 100%;
}
/**/
header{
	padding: .7rem 1rem;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.125);
}
header #title h1{
	font-size: 3rem;
	text-align: center;
}
header nav{
	/*padding: 0rem 5rem;*/
}
header nav ul{
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
}
/**/
main{
	padding: 2.5rem;
}
article{
	box-sizing: content-box;
	/*border: 10px solid rgba(0, 0, 0, 0.125);*/
	height: 17rem;
	/*background-image: url(../background1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
  background: url(../background1.jpg);
  background-color: white;
  background-size: 99% 98%;
  background-position: center;
  background-repeat: no-repeat;
  outline: 1px solid rgba(0,0,0,0.125);
  /*height: 15rem;*/
  /*width: 105%;*/
  /*margin-left: -2.5%;*/
}
article .title{
	font-size: 1.5rem;
	padding: .3rem 0;
	/*padding: .5rem .7rem;*/
	background-color: white;
	color: black;
	transform: translateY(-50%);
	justify-content: center;
}
article .title h4{
}